@import 'null.css';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

*{
    box-sizing: border-box;
}
html {
    height: 100%;
}
body{
    font-family: 'Roboto', sans-serif;
    color: #fff;
    height: 100%;
}
.wrapper {
    min-height: 100%;
    overflow: hidden;

    display: flex;
    flex-direction: column;
}
.main {
    flex-grow: 1;
}
.top{
    width: 100%;
    height: 100px;
    background-color: #fff;
}
.button {
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    border-radius: 8px;
    font-weight: 700;
    line-height: 2;
    font-size: 12px;
    letter-spacing: 0.15px;
    background-color: #F2726F;
    padding: 9px 34px;
    transition: all 0.3s ease;
    text-align: center;
}
.button:hover{
    transition: all 0.3s ease;
    box-shadow: 0px 1px 30px 1px #4B4B4B;
}
/* ===HEADER=== */

.header {
    background: url(../img/premier/bg.png) center/ cover no-repeat;
}
.header__container {
    max-width: 1050px;
    padding: 0 15px;
    margin: 0 auto 126px;
}
.header__top {
    width: 100%;
    padding: 26px 0px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 30px;
}
.header__logoipsum {
    flex: 0 1 175px;
}
.header__logo {
    max-width: 175px;
}

.header__info {
    flex: 0 1 610px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}
.header__item {
    flex-shrink: 1;
    flex-grow: 1;
    min-width: 130px;
}
.header__item_time {
    flex-basis: 206px;
}
.header__item_phone{
    flex-basis: 131px;
}
.item-header__logo_hover{
    transition: all 0.3s ease;
}
.item-header__logo_hover:hover{
    transition: all 0.3s ease;
    transform: scale(1.5);
}
.header__item_button{
    flex-basis: 211px;
    flex-shrink: 0;
}
.item-header {
    display: flex;
    column-gap: 10px;
}

.item-header__logo {
    max-width: 24px;
    max-height: 24px;
}

.item-header__body a:hover{
    transition: all 0.3s ease;
    color: hsl(0, 0%, 89%);
}
.item-header__name {
    font-size: 12px;
    font-weight: 700;
    line-height: 1.83;
    letter-spacing: 0.15px;
    text-transform: uppercase;
}
.item-header__text {
    font-size: 12px;
    font-weight: 700;
    line-height: 1.83;
    letter-spacing: 0.15px;
    color: #fff;
}

@media (max-width: 888px){
    .header__container{
        margin-bottom: 50px;
    }
    .header__logoipsum{
        min-width: 250px;
    }
    .header__info {
        flex-grow: 1;
    }
}
.header__navigation {
    max-width: 1020px;
    min-height: 60px;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px 42px;
    display: flex;
    row-gap: 10px;
    margin: 0 -5px;
}
.header__menu {
    flex: 0 1 560px;
    display: flex;
    align-items: center;
    padding: 0 5px;
}
.header__list{
    width: 100%;
}
.list-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -5px;
}
.list-header__item{
    min-width: 60px;
    flex: 1 0 12%;
    padding: 0 5px;
}
.list-header__link_icon{
    position: relative;
}
.list-header__link_icon::before{
    content: '';
    width: 16px;
    height: 16px;
    background: url(../img/header/more.svg) 0 0 no-repeat;
    position: absolute;
    top: 0px;
    right: -20px;
}
.list-header__link{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.57;
    letter-spacing: 0.15px;
    color: #000;
    display: inline-block;
}
.list-header__link:hover{
    color: #999;
    transition: all 0.3s ease;
}
.header__right-part{
    flex: 0 1 376px;
    display: flex;
    padding: 0 5px;
}
.header__form {
    flex: 1 1 327px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}
.header__input{
    display: inline-block;
    flex: 1 1 280px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.57;
    letter-spacing: 0.15px;
    outline: none;
}
.header__input::placeholder{
    opacity: 0;
    transform: translateY(-100%);
    transition: all 0.3s ease;
}
.header__submit{
    display: inline-block;
    cursor: pointer;
    background-color: #fff;
    flex: 0 0 40px;
    position: relative;
    background-image: url(../img/header/search.svg);
    background-repeat: no-repeat;
    background-position: 10px;
    background-size: 18px 18px;
    flex-shrink: 0;
}
.header__form:hover > .header__input{
    border-bottom: 1px solid #4B4B4B;
    transition: all 0.3s ease;
}
.header__form:hover > .header__input::placeholder{
    opacity: 1;
    transform: translateY(0);
    transition: all 0.3s ease;
}
.header__input:focus::placeholder{
    color: #fff;
}
.header__basket {
    flex: 0 1 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__shop{
    max-width: 24px;
    position: relative;
}
.header__shop::before{
    content: '99';
    font-size: 10px;
    line-height: 2.2;
    letter-spacing: 0.15px;
    font-weight: 500;
    position: absolute;
    top: -6px;
    right: -6px;
    width: 16px;
    height: 16px;
    background-color: #F2726F;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}
.header__shop:hover::before{
    background-color: #f55d42;
    transition: all 0.3s ease;
}
.header__shop-logo{
    width: 100%;
}
@media (max-width:900px){
    .header__navigation{
        display: block;
        background-color: transparent;
        padding: 0;
    }
    .header__menu{
        margin-bottom: 20px;
    }
    .header__menu, .header__right-part{
        flex-basis: auto;
        background-color: #fff;
        padding: 10px 4.5%;
        border-radius: 10px;
    }
}
@media (max-width:550px){
    .header__navigation{
        margin: 0;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 10px;
    }
    .header__menu{
        flex: 0 0 210px;
    }
    .list-header{
        flex-direction: column;
        row-gap: 10px;
    }
    .list-header__item{
        min-width: 60px;
        text-align: center;
    }
    .header__right-part{
        flex: 1 0 210px;
    }
    .header__input{
        flex: 1 1 88px;
        width: 100%;
    }
    .header__basket{
        flex: 0 0 40px;
    }
}
@media (max-width:450px){
    .header__navigation{
        flex-wrap: wrap;
    }
    .header__right-part{
        flex: 1 1 auto;
    }
    .header__menu {
        flex: 1 1 210px;
    }
    .item-header__button,.premier__button{
        min-width: 100%;
    }
}
/* ===HEADER=== */


/* ===PREMIER=== */

.premier__container {
    max-width: 1050px;
    margin: 0 auto;
    padding-bottom: 315px;
    padding-left: 15px;
    padding-right: 15px;
}
.premier__title {
    font-weight: 900;
    font-size: 56px;
    line-height: 1;
    max-width: 583px;
}
.premier__title:not(:last-child){
    margin-bottom: 48px;
}
@media (max-width: 585px){
    .premier__title{
        font-size: 48px;
    }
}


/* ===PREMIER=== */

/* ===who-we-are */


.who-we-are{
    background: #F5F5F5;
    padding-bottom: 200px;
    position: relative;
    z-index: 2;
    
}
.who-we-are__container{
    max-width: 1050px;
    margin: 0 auto;
    padding: 0 15px;
    
}
.who-we-are__wrapper{
    background: #5D62B5;
    border-radius: 40px;
    position: relative;
    padding: 0 15px;
    transform: translateY(-80px);
}
.who-we-are__wrapper::before{
    content: '';
    width: 19.5%;
    height: 45%;
    background:url(../img/who-we-are/decor-right.svg) 0 0 no-repeat;
    position: absolute;
    z-index: 1;
    top: -15%;
    right: -7%;
}
.who-we-are__body{
    max-width: 846px;
    margin: 0 auto;
    padding-top: 100px;
    position: relative;
    z-index: 2;
}
.who-we-are__body:not(:last-child){
    margin-bottom: 54px;
}
.who-we-are__subtitle{
    margin-bottom: 33px;
    padding-left: 25px;
    font-size: 12px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 2.5px;
    color: #f5f5f5;
    text-transform: uppercase;
    position: relative;
}
.who-we-are__subtitle::before{
    content: '';
    position: absolute;
    left: -5px;
    top:0px;
    width: 20px;
    height: 20px;
    background: url(../img/who-we-are/icon-title.svg) 0 0 no-repeat;
}
.who-we-are__title{
    margin-bottom: 36px;
    color: #fff;
    line-height: 1.17;
    font-size: 36px;
    font-weight: 900;
    max-width: 583px;
}
.who-we-are__text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.15px;
    color: #F5F5F5;
}
.who-we-are__picture{
    max-width: 846px;
    margin: 0 auto;
    position: relative;
}
.who-we-are__picture::before{
    content: '';
    width: 78%;
    height: 550px;
    position: absolute;
    top: -50%;
    left: -12%;
    background: url(../img/who-we-are/decor-bottom.png) 0 0/100% no-repeat;
}
.who-we-are__image{
    width: 100%;
    margin-bottom: -14%;
    border-radius: 40px;
    position: relative;
    z-index: 2;
    filter: drop-shadow(0px 8px 16px rgba(38, 38, 38, 0.24)) drop-shadow(0px 16px 24px rgba(38, 38, 38, 0.2));
}
@media (max-width:767.98px){
    .who-we-are{
        padding-bottom: 100px;
    }
}
/* ===DOG=== */

.dog {
    background: #29C3BE;
}
.dog__container {
    max-width: 1470px;
    margin: 0 auto 100px;
    padding: 0px 15px;
    position: relative;
    z-index: 1;
}
.dog__container::before{
    content: '';
    width: 33.67%;
    height: 81.86%;
    background: url(../img/dog/decor-top.png) 0 0/100% no-repeat;
    position: absolute;
    z-index: 1;
    top: -23.53%;
    left: -6.12%;
}
.dog__container::after{
    content: '';
    width: 14%;
    height: 72%;
    background: url(../img/dog/decor-left-bottom.svg) 0 0/100% no-repeat;
    position: absolute;
    z-index: 0;
    bottom: 3%;
    left: 1%;
}
.dog__wrapper{
    display: flex;
    margin: 0 -36px;
    position: relative;
    z-index: 2;
    padding: 0 15px;
}
.dog__picture {
    flex: 0 1 55%;
    padding: 44px 36px 0;
    display: flex;
}
.dog__image {
    width: 100%;
    align-self: center;
}
.dog__body {
    flex: 0 1 45%;
    padding: 112px 36px 0px;
    align-self: flex-start;
    position: relative;
}
.dog__body::before{
    content: '';
    width: 100%;
    height: 140%;
    background: url(../img/dog/line.svg) 0 0/ 100% no-repeat;
    position: absolute;
    top: -10%;
    left: -10%;
}
.dog__body::after{
    content: '';
    width: 15%;
    height: 30.86%;
    background: url(../img/dog/ball.svg) 0 0/ 100% no-repeat;
    position: absolute;
    top: 40%;
    right: 5%;
}
.dog__title {
    font-size: 36px;
    line-height: 1.17;
    font-weight: 900;
    max-width: 411px;
    position: relative;
}
.dog__title:not(:last-child){
    margin-bottom: 44px;
}
.dog__button {
    position: relative;
}

@media (max-width:1470px){
    .dog__container{
        max-width: 970px;
    }
    .dog__body::after{
        top:30%;
        
    }
    .dog__body{
        padding-top: 50px;
    }
}
@media (max-width:991.98px){
    .dog__container{
        max-width: 750px;
    }
    
    .dog__title{
        font-size: 30px;
    }
    .dog__title:not(:last-child){
        margin-bottom:20px;
    }
}
@media (max-width:767.98px){
    .dog__title{
        font-size: 25px;
    }
}
@media (max-width:647.98px){
    .dog__container::after{
        height: 62%;
    }
    .dog__container::before {
        height: 38.86%;
        top: -9.53%;
        left: -14.12%;
    }
    .dog__title{
        font-size: 30px;
    }
    .dog__title:not(:last-child){
        margin-bottom:40px;
    }
    .dog__wrapper{
        flex-direction: column;
    }
    .dog__picture{
        position: relative;
        z-index: 3;
    }
    .dog__body{
        padding-bottom: 65px;
        align-self: center;
        position: relative;
        z-index: -1;
    }
    .dog__body::after{
        top: 43%;
        right: 11%;
        width: 10%;
    }
    .dog__body::before{
        top: 2%;
        left: 4%;
        width: 80%;
    }
}
@media (max-width:465.98px){
    .dog__title{
        font-size: 25px;
    }
    .dog__body::before,.dog__body::after{
        display: none;
    }
}
/* ===DOG=== */